extends ../layouts/base

block variables
  - pageLang = ""
  - pageTitle = "Home"
  - pageDescription = "Page-specific description"
  - pageKeywords = "Page-specific keywords"
  - pageUrl = ""


block body-content
  // $Page header
  header.page-header.js-header
    .page-header__inner
      .page-header__logo
        h1 Energy Scout
      nav.page-header__nav.js-nav
        ul
          li
            a.page-header__nav-link.js-anchor.js-link.is-active(href='#home') Home
          li
            a.page-header__nav-link.js-anchor.js-link(href='#portfolio') Über uns
          li
            a.page-header__nav-link.js-anchor.js-link(href='#team') Ablauf
          li
            a.page-header__nav-link.js-anchor.js-link(href='#contact') Kontakt


  // $Promo section
  section#home.promo.js-jumbo
    h2.promo__title
      | Under Construction

