extends ../layouts/base

block variables
  - pageLang = ""
  - pageTitle = "Thank You"
  - pageDescription = "Page-specific description"
  - pageKeywords = "Page-specific keywords"
  - pageUrl = "/thankyou"


block body-content
  // $Page header
  header.page-header.js-header
    .page-header__inner
      .page-header__logo
        h1 Energy Scout
        span Der einfachste Weg zum besten Tarif
      nav.page-header__nav.js-nav
        ul
          li
            a.page-header__nav-link.js-anchor.js-link.is-active(href='/#home') Home
          li
            a.page-header__nav-link.js-anchor.js-link(href='/#portfolio') Ablauf
          li
            a.page-header__nav-link.js-anchor.js-link(href='/#contact') Kontakt

  // $Impressum section
  section#impressum.impressum
    h2.impressum__title Vielen Dank.
    p.impressum__inner Sie werden in Kürze von einem unserer Servicepartner kontaktiert.
